@{
    ViewBag.Title = "Home Page";
}

@model Songs.Models.MainPageModel

<link href="../../Content/font-awesome.css" rel="stylesheet" />

<div class="container">
    <h2>Топ исполнителей</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Исполнитель            
                    <a href="/Home/Index?page=@Model.PageId&sort=@Model.SortDownByNames"><i class="fa fa-arrow-down" aria-hidden="true"></i></a>
                    <a href="/Home/Index?page=@Model.PageId&sort=@Model.SortUpByNames"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
                </th>
                <th>Подборов
                    <a href="/Home/Index?page=@Model.PageId&sort=@Model.SortDownBySongsAmount"><i class="fa fa-arrow-down" aria-hidden="true"></i></a>
                    <a href="/Home/Index?page=@Model.PageId&sort=@Model.SortUpBySongsAmount"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
                </th>
                <th>Просмотров
                    <a href="/Home/Index?page=@Model.PageId&sort=@Model.SortDownByViewsAmount"><i class="fa fa-arrow-down" aria-hidden="true"></i></a>
                    <a href="/Home/Index?page=@Model.PageId&sort=@Model.SortUpByViewsAmount"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Singers)
            {
                <tr>
                    <td><a href="/Singer/SingerInfo?SingerId=@item.Id">@item.Name</a></td>
                    <td>@item.SongsAmount</td>
                    <td>@item.ViewsAmount</td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        @for(int i = 1; i <= 10; i++)
        {
            if (i == ViewBag.Page)
            {
                <a class="pagenumber" href="/Home/Index?page=@i">@i</a>
            }
            else
            {
                <a href="/Home/Index?page=@i&sort=@Model.CurrentSort">@i</a>
            }
        }
    </div>
</div>