@model Songs.Models.SongPageModel

<link href="../../Content/jquery.tag-editor.css" rel="stylesheet" />
<script src="../../Scripts/jquery.tag-editor.js"></script>
<script src="../../Scripts/jquery.tag-editor.min.js"></script>

    <div class="container">
        <h2>@Model.Song.Name</h2>
        <textarea id="songText" class="form-control textArea">
            @Model.Song.Text
        </textarea>
        <hr />
        <h2>Список аккордов</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Аккорд</th>
                    <th>Картинка</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Song.Accords)
            {
                    <tr>
                        <td>@item.AccordName</td>
                        <td><img src="@item.AccordURL" /></td>
                    </tr>
                }
            </tbody>
        </table>
        @using (Html.BeginForm("SaveTags", "Song", FormMethod.Post, new { id = "form" }))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" id="inputData" name="inputData" />
        }

        <input type="text" class="form-control" id="demo2" value="" />
        <input id="save" type="button" class="btn btn-default" value="Сохранить" />

        <div align="center" id="arrows">
            @if (Model.previousSongId != 0)
            {
                @Ajax.ActionLink("Назад", "SongInfo", "Song", new { SongId = Model.previousSongId }, new AjaxOptions { UpdateTargetId = "songContainer" }, new { id = "prvBut" })
            }
            @if (Model.nextSongId != 0)
            {
                @Ajax.ActionLink("Вперед", "SongInfo", "Song", new { SongId = Model.nextSongId }, new AjaxOptions { UpdateTargetId = "songContainer" }, new { id = "nextBut" })
            }
        </div>
    </div>

    <script>

        jQuery(function ($) {

            $(document).ready(function (){
                window.history.pushState("","", "http://localhost:63373/Song/SongInfo?SongId=" + @Model.songId)
            });

            var tags = '@Model.Tags';
            tags = tags.split(';');

            var initialtags = '@Model.initialTags';
            initialtags = initialtags.split(';');

            $('#demo2').tagEditor({
                initialTags: initialtags,
                autocomplete: {
                    delay: 0,
                    source: tags
                },
                forceLowercase: false,
                placeholder: 'Accords ...'
            });

            $('#save').click(function () {
                document.getElementById('inputData').value += @Model.songId + "," + $('#demo2').tagEditor('getTags')[0].tags + ","
                    + document.getElementById('songText').value;
                $('#form').submit();
            });
        });
    </script>



